python-dotenv
langchain 
langchain_community
langchain_openai
langserve
fastapi 
uvicorn
streamlit
chromadb
faiss-cpu
ipykernel
pymupdf
langchain-text-splitters
sentence_transformers
langchain_huggingface
langchain_chroma
pydantic
pypdf
pymupdf
unstructured
docx2txt